<p>
  <b>Email:</b> <%= @user.email %>
</p>

<% if current_user.is_admin? %>
<p>
  <b>Role:</b> <%= @user.role.capitalize %>
</p>
<% end %>

<p>
  <b>Active:</b> <%= @user.active ? "Yes" : "No" %>
</p>