    <p>
      <b>Name:</b> <%= @tournament.name %>
    </p>

    <p>
      <b>Date:</b> <%= @tournament.date.strftime("%m/%d/%y") %>
    </p>
    <p><b>Ranks:</b> <%= rank_range_for(@tournament) %>
    <p>
      <b>Active:</b> <%= @tournament.active ? "Yes" : "No" %>
    </p>