<div class="row">
	<div class="span8">
		<h4>Last Tournament Results</h4>
		<%= render partial: "partials/results" %>
	</div>
		<div class="span4">
		<%= render :partial => "partials/next_tournaments" %>
	</div>
</div>
<div class="row">
	<div class="span8">
		<%= render :partial => "partials/unpaid_activities" # list most recent registrations 
		%>
	</div>
	<div class="span4">
		<%= render :partial => "partials/needs_waiver" %>
	</div>
</div>