<table class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Rank</th>
      <% if !current_user.nil? %>
        <% if current_user.is_admin? %>
          <th></th>
        <% end %> 
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @dojo_students.each do |s| %>
      <tr>
        <td><%= link_to s.name, student_path(s.id) %></td>
        <td>
          <%= rank_name(s.rank) %>
        </td>
        <% if !current_user.nil? %>
          <% if current_user.is_admin? %>
            <td><%= link_to raw("<i class='icon-remove'></i>Remove"), dojo_student_path(ds), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini' %></td>
          <% end %> 
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @dojo_students, :previous_label => "Previous", :next_label => "Next" %>

