<div class="row">
  <div class="span8">
    <h3>Active Dojos</h3>
    <%= render :partial => "active_dojos" %>
  </div>
  <div class="span4">
    <h3>Inactive Dojos</h3>
    <%= render :partial => "inactive_dojos" %>
  </div>
</div>
<% if !current_user.nil? %>
  <% if current_user.is_admin? %>
    <%= link_to raw("<i class='icon-plus icon-white'></i> Add a New dojo"), new_dojo_path, :class => 'btn btn-primary', :id => 'Create dojo' %>
  <% end %>
<% end %>