#footer {
	margin-top: 15px;
  padding-top: 10px;
	background-color:#E6E6E6;
	text-align: center;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#copy {
	font-size: 85%;
	text-align: center;
	color:#FFEFCF;
}

.supertiny {
	font-size: 5px;
}

.well li {
	font-size: 130%;
	line-height: 1.5;
}

.navbar-inner {
  background-color: #3C1a0a; 
}
/* following taken from sticky-footer cssstickyfooter.com */
html, body {
	height: 100%;
	background-color: #FFEFCF;
}

a{
	color:#459AFF;
}

#main_content {
  background-color: #fff;
  margin:-3px;
  margin-bottom: 15px;
  border:3px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#footer {
  position: relative;
  width: 100%;
  min-width: 100%;
  background-color: #5c2717;
  margin-top: -50px; /* negative value of footer height */
  height:50px;
  clear:both;
} 



/*** TEMP FIX ON BOOTSTRAP ICONS ***/
.icon-th-list {
	background-image: url("./img/glyphicons-halflings.png");
}
.icon-file {
	background-image: url("./img/glyphicons-halflings.png");
}
.icon-list {
	background-image: url("./img/glyphicons-halflings.png");
}
.icon-pencil {
	background-image: url("./img/glyphicons-halflings.png");
}
.icon-remove {
	background-image: url("./img/glyphicons-halflings.png");
}
.icon-plus {
	background-image: url("./img/glyphicons-halflings.png");
}
.icon-arrow-left {
	background-image: url("./img/glyphicons-halflings.png");
}

/****** MAYBE GET BETTER ICONS ******/
.icon-star-empty { 
	background-image: url("./img/glyphicons-halflings.png");
}

.icon-ok { 
	background-image: url("./img/glyphicons-halflings.png");
}	

/****** Everything goes before this, otherwise cannot make white *****/
.icon-white {
	background-image: url("./img/glyphicons-halflings-white.png");
}



